<?xml version="1.0"?>
<model>
  <name>house_1</name>
  <version>1.0</version>
  <sdf version='1.4'>house_1.sdf</sdf>

  <author>
   <name>Jose Vicente Jaramillo</name>
   <email>josevicentejaramillo@gmail.com</email>
  </author>

  <description>
    House created for visuals of the E10 of the SciRoc challenge.
  </description>
</model>
