<?xml version="1.0"?>
<model>
  <name>demo_joint_types</name>
  <version>1.0</version>
  <sdf version='1.4'>test_door_1.sdf</sdf>

  <author>
   <name>Jose V. Jaramillo</name>
   <email>josevicentejaramillo@gmail.com</email>
  </author>

  <description>
    Door created for the E10 of the SciRoc challenge.
  </description>
</model>
