<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="door">

 <link name="world"/>
  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="frame"/>
    <origin rpy= "0 0 1.571" xyz="0 0 0"/>
  </joint>

<link name="frame">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1000000.0"/>
      <inertia ixx="0.048966669" ixy="0" ixz="0" iyy="0.046466667" iyz="0" izz="0.0041666669"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <geometry>
         <mesh filename="package://reemc_door/models/meshes/frame4.stl"/>
       </geometry>
	   <material name="doormat0">
      <color rgba="0.8 0.8 0.3 1" />
      </material>

	  </visual>
     <collision>
       <origin rpy="0 0 0" xyz="0 0 0"/>
       <geometry>
         <mesh filename="package://reemc_door/models/meshes/frame4.stl"/>
       </geometry>
     </collision>

   </link>
   <link name="door">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="50.0"/>
      <inertia ixx="0.048966669" ixy="0" ixz="0" iyy="0.046466667" iyz="0" izz="0.0041666669"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <geometry>
         <mesh filename="package://reemc_door/models/meshes/door4.stl"/>
       </geometry>
	   <material name="doormat0">
      <color rgba="0.8 0.8 0.3 1" />
      </material>

	  </visual>
     <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <geometry>
         <mesh filename="package://reemc_door/models/meshes/door4.stl"/>
       </geometry>
     </collision>

   </link>

   
  <joint name="joint_frame_door" type="revolute">
    <parent link="frame"/>
    <child link="door"/>
    <dynamics damping="1.0" friction="0.0001"/>
    <origin xyz="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="1000.0" lower="-2.0" upper="0.0" velocity="0.5"/>

  </joint>

  <link name="lever">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="5.0"/>
      <inertia ixx="0.048966669" ixy="0" ixz="0" iyy="0.046466667" iyz="0" izz="0.0041666669"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <geometry>
         <mesh filename="package://reemc_door/models/meshes/lever4.stl"/>
       </geometry>
	   <material name="doormat0">
      <color rgba="0.8 0.8 0.3 1" />
      </material>

	  </visual>
     <collision>
       <origin rpy="0 0 0" xyz="0 0 0"/>
       <geometry>
         <mesh filename="package://reemc_door/models/meshes/lever4.stl"/>
       </geometry>
     </collision>

   </link>

   
   <joint name="joint_door_lever" type="revolute">
    <parent link="door"/>
    <child link="lever"/>
	<dynamics damping="1.0" friction="0.0001"/>
    <origin rpy="1.5708 0 0" xyz="-0.79604 -0.06 1.0"/>
		<axis xyz="0 0 1"/>
  
   <limit effort="1000.0" lower="-0.5236" upper="0.0" velocity="0.5"/>

  </joint>





  <gazebo reference="lever">
    <self_collide>1</self_collide>
  </gazebo>

  <gazebo reference="frame">
    <self_collide>1</self_collide>
  </gazebo>
 <gazebo reference="door">
    <self_collide>0</self_collide>
  </gazebo>
</robot>
